{%extends 'base.html' %}

{%block head %}
 <link href="{{ url_for('static', filename='chanceoffire/css/index.css')}}" rel="stylesheet">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
{% endblock %}




{%block body %}
<!-- start of navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MACBASE:DataScience</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">  <i class="devicon-github-plain"></i> See Code</a>
      </li>

    </ul>
  </div>
</nav>
<!-- end of navbar -->

<div class="container">
  
  <div class="row text-center">
    <h3>Forest Fire Interceptor App</h3>
    <h5>AN APP THAT CALCULATES THE LIKELYHOOD OF A FIRE VIA INPUTED VALUES WITH MACHINE LEARNING</h5>
  </div>

  <div class="alert alert-{{predType}}" style="width:100%; margin-top: 10px;" role="alert">
        <h2>{{predValue }}{{p}}</h2>
        <p>{{pred}}</p>
      </div>  

  <div class="row inputer-row">
    <form action="/apps/chanceoffire/predict" method="POST" class="form-inline">
      <div class=" col-sm-12 col-md-4">
        <div class="form-group">
          <label for="temperature">TEMERATURE: </label>
          <input type="" class="form-control" name="temperature" id="temperature" placeholder="">
        </div>
      </div>
      
       <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="oxygen">OXYGEN: </label>
          <input type="" class="form-control" name="oxygen" id="oxygen" placeholder="">
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">HUMIDITY: </label>
          <input type="humidity" name="humidity" class="form-control" id="humidity" placeholder="">
        </div>
      </div>

      <button  type="submit" class="submit btn btn-outline-primary">Predict Probability</button>
    </form>
  </div>


 
      
  



</div>



</div>
{% endblock %}