body {
	background: #3d5af1;
	color: #e2f3f5;
}

.inputer-row{
	margin-top: 80px;
}
.inputer-row .form-control{
	background-color: transparent;
	color: #e2f3f5;
}

.inputer-row button {
	margin: 10px auto;
	border: 1px solid #e2f3f5;
	color: #e2f3f5;
}
.inputer-row button:hover{

	border: 1px solid #e2f3f5;
	color: #e2f3f5;
	background-color: green;
}