{%extends 'base.html' %}

{%block head %}

 <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
 <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
{% endblock %}




{%block body %}
<header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="index.html">MACBASE SOFT.</a></h1>
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#contact">Contact Me</a></li>
              <li><a href="https://github.com/macbaseSoftware">My Github</a></li>
            </ul>
          </nav><!-- .nav-menu -->

        </div>
      </div>

    </div>
  </header><!-- End Header -->

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>My Data science and Machine learning experience</h1>
          <h2>I'm a one man team. An economists and a full stack software engineer.</h2>
          <div><a href="#projects" class="btn-get-started scrollto">Skip over to my Projects</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="{{ url_for('static', filename='assets/img/hero-img.png')}}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>My goals before end of 2021.</h3>
            <p class="font-italic">
              These are the machinelearning goals that the team aims to achive before the end of the year 2021
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i>Achieve +-70% accuracy in my Stock market machine learning algorithm.</li>
              <li><i class="icofont-check-circled"></i>Build a chess AI capable of beating a 1500 elo rated player.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= About Section ======= -->
    <section id="projectGoals" class="projectGoals">
      <div class="container">

        <div class="row">
         
          <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-up">
            <h3>My Project Goals.</h3>
            
            <table class="table .table-hover ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Company Salary Predictor</td>
                  <td>Linear regression that calculates a new employees salary based on the number of experience he/she has compared to the standard rates that the company implemented historically in the company.</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Crime stats Predictor</td>
                  <td>A regression model that predicts what the predicts what the crime percentage of each province will be in the next few years. And determines which province will be safer in the next few years.</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Fire Likelyhood</td>
                  <td>A model that, given data(oxygen, temp & humidity) predicts the likelyhood of a forest fire occuring.</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Stock Chart predictor</td>
                  <td>Given stock market data(OCHL) over a period of years, predict the curviture of the stock market for the next couple of weeks.</td>
                </tr>
              </tbody>
            </table>
           
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-ml">ML Apps</li>
              <li data-filter=".filter-datascience">Data science</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-ml">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='chanceoffire/images/display.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Forest Fire Preventer</h4>
                <p>ML APP</p>
              </div>
              <div class="portfolio-links">
                <a href="https://github.com/DanielRomeo/forest-fire-predictor/" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="devicon-github-plain"></i></a>
                <a href="https://machinelearning.macbase.co.za/apps/chanceoffire" title="View"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Wanna reach out and potentially collaborate? </h2>
          <p>If you're reading this, its means I am open to work on collaborative projects.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="devicon-github-plain"></i>
              <h3>MY GITHUB</h3>
              <p>
                <a href="https://github.com/danielromeo">github.com/Danielromeo</a>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Me</h3>
              <p>danielromeo99@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Me</h3>
              <p>+27 67 2113373</p>
            </div>
          </div>

        </div>
        </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/devicon/2.4/devicon.min.css"></script>
  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js')}}" ></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/counterup/counterup.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
 <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>

{% endblock %}